<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDW3ZKmjqEGErlDoh6zIn8r55ISfYBduFk</string>
	<key>GCM_SENDER_ID</key>
	<string>470114617428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quetter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>qutter-eeb9f</string>
	<key>STORAGE_BUCKET</key>
	<string>qutter-eeb9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470114617428:ios:3f8093b34e1944d6e845c1</string>
</dict>
</plist>